{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div style="margin-top: 10%;">

    <table>
        <tr style="font-size: 14px;">
          <th>title</th>
          <th>sku</th>
          <th></th>

        </tr>
      
        {% for item in inventory_items %}
        <tr style="font-size: 10px;">
          <th>{{item.product.title}}</th>
          <th>{{item.sku}}</th>
          <th style="margin-left: 2px;"><input type="checkbox" name="checkbox-item" onchange="search_results_select_rows()"/>&nbsp;</th>
        </tr>
        {% endfor %}
      
      </table>

    <form action="ebay-delete-inventory-items" method="post">
        {% csrf_token %}
        <div class="button" style="text-align: center;">
            <input id='delete-items' type="submit" value="Delete selected" name="delete-items">
        </div>
    
      <input type="hidden" id="selecteditems" name="selected-items" value="{{selected_items}}">

    </form>

      
</div>

<script src="{% static 'xz_search_results.js' %}"></script>

{% endblock %}