{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div>

        <form action="inventory-list-view" method="get">
            {% csrf_token %}
            <div class="standard-command-container">
                <div style="text-align: center;">
                    <input class="standard-button" id='go-to-inventory' type="submit" value="View Inventory" name="go-to-inventory">
                </div>
            </div>
        </form>

      
    <div id="import-results" class="results-table">
      {% for result in import_results %}
        {% if result.code == 'error' %}
          <div class="row" style="background-color: rgb(252, 107, 107);">
            <div class="results-row col">
              <b>SKU:</b> {{result.sku}}
            </div>
            <div class="results-row col">
              <b>Result:</b> {{ result.message }}
            </div>
          </div>
          {% else %}
          <div class="row" style="background-color: rgb(133, 247, 152);">
            <div class="results-row col">
              <b>SKU:</b> {{result.sku}}
            </div>
            <div class="results-row col">
              <b>Result:</b> {{ result.message }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    

</div>

{% endblock %}
